.ul1 {
    width: 100%;
    height: 60px;
    padding: 0 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    li {
        list-style: none;
    }

    .cartLi {
        position: relative;
    }

    .shopping {
        font-size: 28px;
        font-weight: 900;
        color: darkblue;
    }

    .hub {
        font-size: 28px;
        font-weight: 900;
        color: gold;
    }

    input {
        width: 200px;
        height: 28px;
        font-size: 14px;
        color: darkblue;
        border: 1px solid gold;
        padding-left: 7px;
        outline: none;
    }

    input::placeholder {
        color: darkblue;
    }

    .basket {
        font-size: 28px;
        color: gold;
    }

    .cart {
        font-size: 17px;
        color: darkblue;
    }

    .count {
        background-color: gold;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        top: 3px !important;
        left: 63px;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
    }

    .form {

        i {
            font-size: 15px;
            background: none;
            color: #ffffff;
        }
        
        button {
            width: 28px;
            height: 28px;
            border: none;
            outline: none;
            background-color: gold;
            transition: .5s;

            &:hover {
                cursor: pointer;
            }
        }
    }
}

.div {

    li {
        color: darkblue;
        font-size: 17px;
    }

    div {
        width: 280px;
        height: 100%;
        position: fixed;
        top: 0;
        right: 0;
        box-shadow: rgba(0, 0, 0, .24) 0 3px 8px;
        background-color: #ffffff;
        flex-direction: column;
        display: flex;
        align-items: flex-start;
        padding: 60px 0 0 16px;
        z-index: 99999;
        transition: .7s;
    }

    i:hover {
        cursor: pointer;
    }

    .bar {
        color: gold;
        font-size: 28px;
    }
}

.x {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 16px;
    width: 24px;
    height: 24px;
    background-color: rgba(0, 0, 0, 0.43);
    border-radius: 50%;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

nav a {
    color: darkblue;
    text-decoration: none;
    font-weight: 400;
    font-size: 17px;
}



